* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

/* <===== BACKGROUND =====> */
html { 
    margin:0;
    padding:0;
    background: url(../pictures/backLog.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}
/* <===== FIN BACKGROUND =====> */

/* <===== FORMULAIRE =====> */

#submit {
    height: 50px;
    width: 30%;
    border-radius: 8px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: 2px solid black;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.75em;
}
#inpText {
    width: 60%;
    height: 30px;
    top:50%;
    left:50%;
    transform: translate(35%, -50%);
    border: 2px solid white;
    border-radius: 8px;
    font-weight: 100;
}

#inpPass {
    width: 60%;
    height: 30px;
    top:50%;
    left:50%;
    transform: translate(35%, -50%);
    border: 2px solid white;
    border-radius: 8px;
    font-size: 0.75em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 8px;
    width: 60%;
    height: 500px;
    background-color:#4AC0FD;
    text-align: center;
    font-size: 3em;

}

main {
    height: 100%;
    display:flex;
    justify-content: center ;
    align-items: center;
}

.labelText{
    color: white;
    
}
/* <===== FIN FORMULAIRE =====> */